@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --custom-background-rgb: 221, 204, 204;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    /* --background-end-rgb: 0, 0, 0; */
    --custom-background-rgb: 244, 238, 238;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-color: rgb(var(--custom-background-rgb));
}
.bold-header {
  font-weight: bold;
}
.wrapper {
  padding: 20px;
  border: 1px;
  display: inline-block; /* Only take the width and height of its content */
}
